<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="container">
    <div class="col-10 col-md-7 mx-auto">
        <form action="/user/register" method="post">
            <input type="text" name="first_name" id="" placeholder="First Name" class="form-control mt-2">
            <input type="text" name="last_name" id="" placeholder="Last Name" class="form-control mt-2">
            <input type="text" name="phone" id="" placeholder="Phone" class="form-control mt-2">
            <input type="text" name="email" id="" placeholder="email" class="form-control mt-2">
            <input type="text" name="password" id="" placeholder="Password" class="form-control mt-2">
            <input type="text" name="cpassword" id="" placeholder="Confirm Password" class="form-control mt-2">
            <div class="d-flex justify-content-center mt-3">  <button type="submit" class="btn btn-sm btn-success px-3">Register</button>
            </div>
        </form>
    </div>
</div>
<%- include('./partials/footer.ejs') %>